/*
 * @Author: xujie 1607526161@qq.com
 * @Date: 2022-07-06 22:03:47
 * @LastEditors: x09898 coder_xujie@163.com
 * @LastEditTime: 2022-07-15 11:38:02
 * @FilePath: \VueCoderWhy\.editorconfig
 * @Description: 开发风格的统一文件
 */

[*.{js,jsx,ts,tsx,vue}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
